<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Take Me to Your Leader!</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
          <a href="/">Take Me to Your Leader!</a>
        </h1>
        <nav>
          <!-- Render login or logout based on session status -->
          {{#if logged_in}}
            <a href="/sentence">Sentences</a>
            |
            <button class="no-button" id="logout">Log Out</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      <main class="container container-fluid mt-5">
        <!-- Main body -->
        {{{body}}}
      </main>
      <footer>
      </footer>
    </div>

    <!-- Logout is only rendered when user is logged in -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>