<div class="row">
  <div class="col-md-12">
    <h2>>>>> CHANGES LOCKED OUT &#62;&#62;&#62;</h2>
    <h2>></h2>
    <h2>>** IMPROPER REQUEST **</h2>
    <h2>></h2>
    <h2>>** ACCESS DENIED **</h2>
    <h2>></h2>
    <h2>>** ERROR 404 - USER'S STARSHIP DOES NOT HAVE ACCESS TO THIS DATABASE **</h2>
    <h2>></h2>
    <button class="btn" type="submit" id="goBack">Go back</button>
  </div>
</div>

<script src="./js/404.js"></script>