<div class="row">
  <div class="col-md-12">
    
    <h2><i>Order 3AR-TH</i></h2>
    <br>
    <h3>Greetings soldier.</h3>
    <br>
    <h3>I am Commander Zoroth of the Galactic Order. You{{#if logged_in}}, {{ name }},{{/if}} have been chosen to partake in a courageous mission in our first step to conquer the planet Earth.</h3>
    <br>
    <h3>Our knowledge of the world is lacking and we want you to infiltrate the citizens of Earth to live among them and learn all you can.</h3>
    <br>
    <h3>Your first step is to learn their language. Using this top-secret program, you<span>&#39;</span>ll select random words to create a sentence to familiarize yourself with them. Create a sentence you like and you can save it to study later. </h3>
    <br>
    <h3>Your mission is critical to the success of our Order. We know you won<span>&#39;</span>t let us down.</h3>

  </div>
</div>