<div id="parent" style="overflow: hidden;"></div> 

<div class="row mt-5">
    <div class="col-6 mb-5 ">
        <div class="row testbtn">
            <h1 class="text-center">Noun Edit</h1>
        </div>

        <div class="row testbtn">
            <button id='plural' onClick="pluralNoun()" type="button" class="btn btn-primary m-1">Plural</button>
        </div>
    </div>

    <div class="col-6 mb-5">
        <div class="row testbtn">
            <h1 class="text-center">Verb Edit</h1>
        </div>

        <div class="row testbtn">
            <button id='simple' onClick="simplePastVerb()" type="button" class="btn btn-primary m-1">Simple Past</button>
            <button id='participle' onClick="pastParticibleVerb()" type="button" class="btn btn-primary m-1">Past Participle</button>
        </div>
    </div>
</div>

<div class="row">
    <h1 id="word-counter" class="m-auto text-center mb-5">You Need Atleast 10 More Words!</h1>
</div>

<div class="row testbtn">
    <button id='finalize' onClick="finalizeSentence()" type="button" class="btn btn-primary m-3">Save Sentence</button>
</div>

<div class="row">
    <h1 id="sentence" class="m-auto text-center">Create a Sentence...</h1>
</div>

<h1 id="hidden-color">{{ color }}</h1>
<h1 id="hidden-mood">{{ mood }}</h1>

<script src="/js/phaser.js"></script>
<script src="/js/game.js"></script>