<div class="row">
    <div class="col-6 mb-5">
        <h1 class="text-center">Noun Edit</h1>
        <button id='plural' onClick="pluralNoun()" type="button" class="btn btn-primary">Plural</button>
    </div>

    <div class="col-6 mb-5">
        <h1 class="text-center">Verb Edit</h1>
        <button id='simple' onClick="simplePastVerb()" type="button" class="btn btn-primary">Simple Past</button>
        <button id='participle' onClick="pastParticibleVerb()" type="button" class="btn btn-primary">Past Participle</button>
    </div>
</div>

<div class="row">
    <h1 id="word-counter" class="m-auto text-center mb-5">You Have 10 Words Left!</h1>
</div>

<div class="row">
    <h1 id="sentence" class="m-auto text-center mb-5">Create a Sentence...</h1>
</div>

<script src="/js/phaser.js"></script>
<script src="/js/game.js"></script>