@import url("https://fonts.googleapis.com/css2?family=Trispace&display=swap");

/* body{
    background-color: rgb(0, 0, 0);
} */

:root {
  --primarycolor: #2d2d2d;
  --secondarycolor: #b3b9c5;
  --tertiarycolor: #447a36;
}

* {
  box-sizing: border-box;
  background-color: var(--primarycolor);
}

a {
  color: var(--tertiarycolor);
}

body {
  font-family: Trispace, serif;
  line-height: 1.6;
  color: var(--secondarycolor);
}

canvas {
  width: 100%;
}

header {
  border-bottom: 1px solid var(--secondarycolor);
}

h3 {
  color: var(--tertiarycolor);
}

.btn {
  background-color: var(--secondarycolor);
}

.btn:hover {
  background-color: var(--tertiarycolor);
  cursor: pointer;
}

.form-group {
  color: var(--tertiarycolor);
}

.headerColor {
  color: var(--tertiarycolor);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--tertiarycolor);
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: var(--tertiarycolor);
  text-decoration: underline;
}

#game {
  position: absolute;
  top: 0px;
}

.testbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-1 {
  margin: 0.375rem;
}

.m-2 {
  margin: 0.625rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.375rem;
}

.m-5 {
  margin: 1.625rem;
}

.m-auto {
  margin: auto;
}

#hidden-color{
  visibility: hidden;
  display: none;
}

#hidden-mood{
  visibility: hidden;
  display: none;
}